<a href="https://colab.research.google.com/github/Denixer/AN-LISIS-Y-VISUALIZACI-N-DE-DATOS/blob/main/consultas_medicas_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#cargar librerias
import pandas as pd
import numpy as np
import xlrd
import os # para manejar archivos y carpetas
import seaborn as sb
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter

# Cargar base de dato
from google.colab import files

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import pandas as pd
df = pd.read_excel ("/content/drive/MyDrive/CONSULTAS/2019.xlsx")
df2 = pd.read_excel ("/content/drive/MyDrive/CONSULTAS/2020.xlsx")
df3 = pd.read_excel ("/content/drive/MyDrive/CONSULTAS/2020.xlsx")
df4 = pd.read_excel ("/content/drive/MyDrive/CONSULTAS/2020.xlsx")

In [16]:
# comando para mostar los campos con su wwww de una tabla
df2.dtypes

FECHA                      datetime64[ns]
AÑO                                 int64
MES                                object
ESPECIALIDAD                       object
TOTAL                               int64
0_4                               float64
5_9                               float64
10 _14                            float64
15_19                             float64
20_24                             float64
25_29                             float64
30_34                             float64
35_39                             float64
40_44                             float64
45_49                             float64
50_54                             float64
55_59                             float64
60_64                             float64
65_69                             float64
70 _74                            float64
75_79                             float64
80_mas                            float64
BENEFICIARIOS                     float64
Hombres                           float64
Mujeres                           float64
TOTAL_MEN                           int64
NUEVA_APS_MEN15                   float64
NUEVA_CAE_MEN15                   float64
NUEVA_URG_MEN15                   float64
TOTAL_MAY                           int64
NUEVA_APS_15MAS                   float64
NUEVA_CAE_15MAS                   float64
NUEVA_URG_15MAS                   float64
NSP_NUEVAS                        float64
NSP_CONTROLES                     float64
CONSULTA_ABREVIADA                float64
ALTAS_MENOS_15\n15 años           float64
ALTAS_MAS_15                      float64
Compras_Servicio                  float64
operativos                        float64
GENERAL_MENOS_15                  float64
GENERAL_MAS15                     float64
TOTAL_NUEVAS                        int64
TOTAL_NSP                           int64
TOTAL_ALTAS                         int64
dtype: object

In [17]:
df2.head(5)

,FECHA,AÑO,MES,ESPECIALIDAD,TOTAL,0_4,5_9,10 _14,15_19,20_24,...,CONSULTA_ABREVIADA,ALTAS_MENOS_15\n15 años,ALTAS_MAS_15,Compras_Servicio,operativos,GENERAL_MENOS_15,GENERAL_MAS15,TOTAL_NUEVAS,TOTAL_NSP,TOTAL_ALTAS
0,2020-01-01,2020,ENERO,PEDIATRÍA,222,114.0,53.0,44.0,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,86,14
1,2020-01-01,2020,ENERO,MEDICINA INTERNA,566,0.0,1.0,0.0,17.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,191,150,1
2,2020-01-01,2020,ENERO,NEONATOLOGÍA,106,106.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,32,14
3,2020-01-01,2020,ENERO,ENFERMEDAD RESPIRATORIA PEDIÁTRICA (BRONCOPULM...,73,29.0,26.0,16.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,46,15
4,2020-01-01,2020,ENERO,ENFERMEDAD RESPIRATORIA DE ADULTO (BRONCOPULMO...,230,0.0,0.0,0.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,67,0